
.button-popup {
  margin-right: 10px;
}

.buttons-on-popup{
    padding-top: 10px;
    padding-bottom: 20px;
}

.title {
  font-size: 23px;
  color: #337ab7;
  margin-bottom: 20px;
}

.players {
  margin-top: 12px;
}



